<ion-header>
    <ion-toolbar>
        <ion-button slot="end" (click)="closeModal();" fill="clear">Close</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    Fecha
                  </ion-col>
                  <ion-col size ="3">
                    RFC
                  </ion-col>
                  <ion-col size="3">
                    Razón Social
                  </ion-col>
                  <ion-col size="3">
                    Importe
                  </ion-col>
                </ion-row>
              </ion-grid>
          
              <div>
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        1 of 3
                      </ion-col>
                      <ion-col>
                        2 of 3
                      </ion-col>
                      <ion-col>
                        3 of 3
                      </ion-col>
                      <ion-col>
                          3 of 3
                      </ion-col>
                    </ion-row>
                  </ion-grid>
              </div>
</ion-content>
