<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-select value="3" placeholder="Selecciona una opción para ver el contenido" style="margin-right:10px" (ionChange)="change($event)">
        <ion-select-option value="3">3 Mes</ion-select-option>
        <ion-select-option value="6">6 Meses</ion-select-option>
        <ion-select-option value="12">12 Meses</ion-select-option>
        <ion-select-option value="24">24 Meses</ion-select-option>
      </ion-select><br>
    <div class="price-card">
        <h1>{{ivaToPaid | currency}}</h1>
        <h2>Iva a pagar</h2>
        <h5>*Esta Información es una estimación aproximada basada en los datos de tu facturación</h5>
    </div>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Información de IVA Cobrado</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <canvas baseChart
              [data]="ivaChargedData"
              [labels]="ivaChargedLabel"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
          <ion-item>
              <ion-label>IVA Cobrado</ion-label>
              <ion-badge color="success">{{chargedIva | currency}}</ion-badge>
          </ion-item>
          <ion-item>
              <ion-label>Total de ventas</ion-label>
              <ion-badge color="medium">{{charged | currency}}</ion-badge>
          </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Información de IVA Pagado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <canvas baseChart
          [data]="ivaPaidData"
          [labels]="ivaPaidLabels"
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
      </canvas>
      <ion-item>
          <ion-label>IVA Cobrado</ion-label>
          <ion-badge color="tertiary">{{paidIva | currency}}</ion-badge>
      </ion-item>
      <ion-item>
          <ion-label>Total de ventas</ion-label>
          <ion-badge color="medium">{{paid | currency}}</ion-badge>
      </ion-item>
      </ion-card-content>
    </ion-card>
    
</ion-content>
