<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let client of clients; let i = index" class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-1">
              <h2 style="color: blueviolet">{{client.total | currency}}</h2>
              <p style="color: gray">Cliente top {{i+1}}</p>
              <h5>{{client.emisorName}}</h5>
            </div>
          </div> 
        </div>
      </div>
</ion-content>
