<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-1">
              <h2 style="color: blueviolet">$9,898,398</h2>
              <p style="color: gray">Tu mejor cliente de...</p>
              <h5>Banorte, el banco fuerte de México</h5>
            </div>
          </div> 
        </div>
      </div>
</ion-content>
